@import '@/styles/init.styl';

.lj-blog-tag
  display inline-block
  padding 3px 6px
  font-size 14px
  color $white
  background-color rgba($white, 0.6)
  &.primary
    background-color $en-primary
  &.danger
    background-color $zh-primary
  &.warning
    background-color $rss-primary
  &.success
    background-color $douban-primary