.lj-layout-background
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color var(--body-bg)
  z-index -1
  &-image
    position absolute
    width 100%
    height 100%
    background-image url('@assets/images/background.png')
    background-position center
    background-size cover
    opacity 0.3