@import '@/styles/init.styl';

.lj-blog-swiper-item
  position relative
  height 210px
  border-radius 4px
    
  p
    position absolute
    top 24px
    right 32px
    padding 4px 12px
    font-size 14px
    font-weight 600
    font-family DINRegular,Monda,SpecialSymbol
    color rgba($black, 0.6)
    text-align center
    background-color rgba($white, 0.8)