@import '@/styles/init.styl';
.lj-header
  position fixed
  top 0
  left 0
  width 100vw
  height 60px
  background-color var(--module-bg)
  backdrop-filter: blur(5px);
  z-index 12
  &-container
    display flex
    align-items center
    margin 0 auto
    width 1050px
    height 60px
    &-title
      margin 4px 0;
      font-size 21px
      font-weight 700
      color $black
      font-family DINRegular
      // color $music163-primary
    &-motto
      margin-left 120px
      font-size 12px
      font-weight 600
      color rgba($black, 0.6)
      font-family 'SFMono-Regular',DINRegular,Monda,SpecialSymbol

  