.lj-header
  position fixed
  top 0
  left 0
  width 100vw
  height 60px
  background-color alpha(#FFFFFF, 70%)
  z-index 12
  &-container
    display flex
    align-items center
    margin 0 auto
    width 1050px
    height 60px
  