@import "./styles/init.styl"
@import "./styles/font.styl"
// @import "./styles/iconfont.styl"
@import "@assets/font/iconfont.css"
@import "./styles/reset.styl"
@import "./styles/universal.styl"
@import "./styles/markdown.styl"

.App
  color var(--text-color)
  .lj-scroll-view
    // width 100vw
    // height 200px
    // overflow-y scroll
